// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$doe_black: #333333; 
$red: #ed2353;
$red_hover: #fb547b;
$twitter: #27aae1;
$border: #5d6c78;
$h1: #3e4343;
$jg_purple: #72226d;
$facebook: #3b5998;
$email: #3e4343;